.nav {
    background-color: $secondary-color;
    padding: 1rem 1rem 1rem 2rem;

    ul {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
        list-style: none;

        a {
            text-decoration: none;
            color: $primary-color;
            font-weight: 300;
            font-size: 1rem;
            margin-right: 5rem;
            line-height: 2.3rem;

            &:hover {
                @include linkstyle();
            }
        }

    }

}